name: Nix Configuration Check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  nix-checks:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v16

      - name: Run pre-commit checks
        run: nix develop -c pre-commit run --all-files

      # TODO: find a good alternative for the pipeline with less duration
      #- name: Build System
      #  run: nix build .#darwinConfigurations.Gabriels-MacBook-Pro.system
